
/*
:root {
  --background-color: #191919;
  --primary-color: #00aaff;
  --secondary-color: #0077ff;
  --text-color: #fff;
  --section-color: #333;
}

*/


:root {
  --green-sea: #58797E;
  --orange: #BE9B66;
  --coffee: #673F26;
  --midnight-blue: #333F49;
  --burnt-sienna: #AA3D22;
  --olive: #7F8744;
  --rust: #B6621C;
  --deep-wood: #241C0C;
  --deep-orange: #AB6B35;
  --rustic-red: #4B2918;
  --dark-slate-gray: #2A242B;
  --reddish-brown: #371E0E;
  --heliotrope: #B46CC4;
  --dark-green: #41551E;
  --dark-red: #241C1C;
  --dark-chocolate: #2C1C0C;
  --deep-brown: #241C14;
  --olive-drab: #313616;
  --dark-brown: #242414;
}

/*
:root {
  --background-color: #241C14;
  --primary-color: #B6621C;
  --secondary-color: #B46CC4;
  --text-color: #BE9B66;
  --section-color: #371E0E;
  --link-color: #58797E;
  --button-text-color: #241C0C;

} */

:root {
  --background-color: #241C14;
  --primary-color: #db9860;
  --secondary-color: #ce7de0;
  --text-color: #d6b789;
  --section-color: #31241c;
  --link-color: #54b3c2;
  --button-text-color: #241C0C;

}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
}

p a {
  color: var(--link-color)
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  flex-flow: column;
}

section {
  background-color: var(--section-color);
  border-radius: 10px;
  margin: 2rem;
  overflow: hidden;
  position: relative;
  width: calc(100% - 4rem);
}

section h2 {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}

section p {
  margin: 1rem;
}

button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  color: var(--button-text-color);
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  width: calc(100% - 2rem);
  max-width: 400px;
}

button:hover {
  background-color: var(--secondary-color);
}

footer {
  background-color: var(--section-color);
  color: var(--text-color);
  font-size: 0.75rem;
  padding: 1rem;
  text-align: center;
}
