@tailwind base;
@tailwind components;
@tailwind utilities; 



:root {
    --primary-color: #222;
    --secondary-color: #007bff;
    --section-color: #fafafa;
}

/* style all main, section, heading, and paragraph elements in separate but similar ways */
main, section {
    background-color: var(--section-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.25rem;
}


p {
    color: var(--primary-color);
}

a {
    color: var(--secondary-color);
}

/* make all text bigger on large screens */
@media (min-width: 768px) {
    html {
        font-size: 125%;
    }
}

/* make all text bigger on large screens */
@media (min-width: 1024px) {
    html {
        font-size: 150%;
    }
}

/*

.crime-div-icon {
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    min-width: 10px;
    position: relative;
    animation: pulse-crime 5s infinite;
  }
  
  .case-div-icon {
    background-color: blue;
    color: white;
    border-radius: 50%;
    text-align: center;
    min-width: 10px;
    position: relative;
    animation: pulse-case 5s infinite;
  }
  
  .permit-div-icon {
    background-color: green;
    color: white;
    border-radius: 50%;
    text-align: center;
    min-width: 10px;
    position: relative;
    animation: pulse-permit 5s infinite;
  }

  .center-div-icon {
    background-color: white;
    color: black;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    min-width: 10px;
    position: relative;
    animation: pulse-center 1s infinite;
  }

  */

  .crime-div-icon {
    background-color: rgb(255, 78, 78); /* Remove background color */
    background-image: url("/images/crimeicon.svg");
    background-size: cover; /* Scale the SVG icon */
    background-position: center;
    color: white;
    border-radius: 50%;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
    position: relative;
    /* animation: pulse-crime 5s infinite; */
  }

  .case-div-icon {
    background-color: rgb(128, 128, 255); /* Remove background color */
    background-image: url("/images/boston311icon.svg");
    background-size: contain; /* Scale the SVG icon */
    background-position: center;
    color: white;
    border-radius: 50%;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
    position: relative;
    /* animation: pulse-case 5s infinite; */
  }
  
  .permit-div-icon {
    background-color: rgb(114, 209, 114); /* Remove background color */
    background-image: url("/images/permiticon.svg");
    background-size: cover; /* Scale the SVG icon */
    background-position: center;
    color: white;
    border-radius: 50%;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
    position: relative;
    /* animation: pulse-permit 5s infinite; */
  }
  
  .center-div-icon {
    background-color: transparent; /* Remove background color */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0iYmxhY2siPjxwYXRoIGQ9Ik0xMiAyMXYtM2ExIDEgMCAwIDEgMiAwIHYgM3oiPjxwYXRoIGQ9Ik0yIDBsNiAxOGwgNi04IGx2LTZhIGEgMyAyIDEgMCAwIDAgMHYgMmwtN3YgMGgwbDcgNWkgYyIvPjwvc3ZnPg==');
    background-size: cover; /* Scale the SVG icon */
    background-position: center;
    color: black;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    min-width: 10px;
    min-height: 10px;
    position: relative;
    animation: pulse-center 1s infinite;
    z-index:1000 !important;
  }




  .building-permit-filter-button {
    background-image: url("/images/permiticon.svg");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .crime-filter-button {
    background-image: url("/images/crimeicon.svg");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .aaa-case-filter-button, crime-filter-button {
    background-image: url("/images/boston311icon.svg");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .building-permit-filter-button.active {
    background-color: rgb(114, 209, 114);
    color: black;
  }

  .aaa-case-filter-button.active {
    background-color: rgb(128, 128, 255);
    color: black;
  }

  .crime-filter-button.active {
    background-color: rgb(255, 78, 78);
    color: black;
  }
  
  .leaflet-popup-content {
    overflow: auto;
    max-height: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .leaflet-popup-content > div {
    margin: 5px;
    border: 2px solid #9fe1ff;
    border-radius: 5px;
    background-color: rgb(243, 251, 255);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .leaflet-popup-content div div {
    margin: 5px;
  }

  .leaflet-popup-content div div.infoname {
    font-weight: bold;
  }

  /* Pulse Animations */
    @keyframes pulse-center {
        0% {
        box-shadow: 0 0 0 0 rgba(0,0,0, 0.7);
        background-color: rgb(161, 161, 161);
        }
        70% {
        box-shadow: 0 0 10px 20px rgba(0,0,0, 0);
        background-color: white;
        }
        100% {
        box-shadow: 0 0 0 0 rgba(0,0,0, 0);
        background-color: white;
        }
    }

  @keyframes pulse-crime {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }
    70% {
      box-shadow: 0 0 10px 20px rgba(255, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
  }
  
  @keyframes pulse-case {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.7);
    }
    70% {
      box-shadow: 0 0 10px 20px rgba(0, 0, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
    }
  }
  
  @keyframes pulse-permit {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 128, 0, 0.7);
    }
    70% {
      box-shadow: 0 0 10px 20px rgba(0, 128, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 128, 0, 0);
    }
  }
  